
    
 h1 { font-family:sans-serif; text-align: center;font-size: 65px; color: orange;}

 body {font-size:16px;}
 
 p  {font-weight:600; font-size:3em; font-style: italic; text-decoration: underline;}

 li {line-height:80px;}

 #yellow{background-color: yellow;}
 #red {background-color: red;}
 #brown {background-color: saddlebrown;}
 

 .list-style {background-color: rgb(93, 209, 174);}
  

    





   