
.div {
  border-color: black;
  border-style: solid;
  margin-left: 10%;
}
.title {
  text-align: center;
  
}

.main-content {
  background-color: yellow;
  width: 50%;
 margin-left: 25%;
}

.main-content .center-content {
  background-color: red;
  width: 40%;
  margin: 0 auto;
}

.main-content .center-content p {
  font-style: italic;
}